# **MÓDULO 26 - Projeto Final do Aprofundamento de Analytics**

Bem-vindos ao Projeto de Dashboard de E-commerce! Este projeto é uma oportunidade para vocês aplicarem habilidades essenciais de análise de dados em um cenário prático e realista. Vocês irão trabalhar com um conjunto de dados de transações de clientes de uma loja virtual, distribuídos em duas tabelas distintas. O objetivo final é construir um dashboard interativo que facilite a visualização e análise das informações relevantes do e-commerce, utilizando ferramentas como Looker Studio ou Power BI.

**Objetivo do Projeto:**

Tratamento de Dados: Realizar a junção (JOIN) de duas tabelas utilizando SQL para consolidar as informações.
Análise de Dados: Exportar os dados resultantes para um arquivo CSV.
Visualização de Dados: Desenvolver um dashboard interativo e informativo para visualização das principais métricas e insights do e-commerce.

**Tabelas Disponibilizadas:**

**Tabela de Transações:** Contém os registros de transações realizadas pelos clientes, incluindo detalhes como ID da transação, valor e outros.


**Tabela de Dados Pessoais:** Contém as informações pessoais dos clientes, como ID do cliente, nome, genero, cidade, etc.

**Chave de Ligação:** As tabelas se relacionam através da coluna ID_CLIENT, que é a chave identificadora dos clientes.

# Etapas do Projeto:

1. Realizar um JOIN SQL nas duas tabelas, unificando as informações através da coluna ID_CLIENT. Você deve justificar a escolha do JOIN (Inner/ Left/ Right ou Full).

2. Exportar os dados consolidados resultantes do JOIN para um arquivo CSV.

3. Utilizar Looker Studio ou Power BI para importar o arquivo CSV.

4. Criar visualizações interativas que apresentem métricas importantes, como total de vendas, número de transações, distribuição geográfica dos clientes, perfil demográfico dos clientes, entre outros.

Abaixo temos a configuração do ambiente SQL:

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
df_transacoes = pd.read_csv("TB_TRANSACOES_PROJETO_ECOMM.csv", delimiter=';')
df_clientes = pd.read_csv("TB_CLIENTES_PROJETO_ECOMM.csv", delimiter=';')

# Ajustando valores, tipagem e nome de colunas
df_transacoes["Price"] = df_transacoes["Price"].astype(str).str.replace(",", ".")
df_transacoes["Price"] = df_transacoes["Price"].astype(float)
df_clientes = df_clientes.rename(columns={'Id_client': 'id_client'})
df_transacoes = df_transacoes.rename(columns={'Card Type': 'Card_Type'})
print(df_clientes)
print(df_transacoes)

    state_name First_name   Gender                     Job_Title  id_client
0           TX    Domingo     Male  Structural Analysis Engineer          1
1           MI    Russell     Male            Speech Pathologist          2
2           AL     Kimble     Male           Account Coordinator          3
3           IL   Barnabas     Male               General Manager          4
4           MN     Tanney   Female                  VP Marketing          5
..         ...        ...      ...                           ...        ...
170         UT  Fairleigh     Male    Desktop Support Technician        171
171         DC    Lambert  Agender             Chemical Engineer        172
172         NY      Jacob     Male      Senior Financial Analyst        173
173         OK        Pip     Male         Chief Design Engineer        174
174         OR     Murvyn   Female          Safety Technician IV        175

[175 rows x 5 columns]
     id_client     Category   Price   Card_Type
0           37  Electronics   72.93  mastercard
1           38      Jewelry  121.89  mastercard
2           39         Baby   64.30  mastercard
3           40     Outdoors    9.48  mastercard
4            5     Outdoors   61.95  mastercard
..         ...          ...     ...         ...
362        363      Jewelry   44.32  mastercard
363        364         Kids  120.42  mastercard
364        365      Grocery   24.31  mastercard
365        366        Tools  111.53  mastercard
366        367    Computers   84.57  mastercard

[367 rows x 4 columns]

In [ ]:
conn = sqlite3.connect('projeto.db')
# Carregar o DataFrame no banco de dados SQLite - criando tb_transacoes e tb_clientes
df_transacoes.to_sql('tb_transacoes', conn, index=False, if_exists='replace')
df_clientes.to_sql('tb_clientes', conn, index=False, if_exists='replace')

175

In [ ]:
# Função para executar consultas SQL e retornar o resultado como um DataFrame
def run_query(query):
    return pd.read_sql_query(query, conn)

In [ ]:
query = """
SELECT
B.id_client,
A.First_Name,
A.Gender,
A.state_name,
A.Job_Title,
B.Category,
B.Price,
B.Card_Type
FROM tb_transacoes AS B
INNER JOIN tb_clientes AS A ON B.id_client = A.id_client
ORDER BY B.id_client ASC
"""
result_df = run_query(query)
print(result_df.to_string())

     id_client  First_name       Gender state_name                             Job_Title     Category   Price   Card_Type
0            1     Domingo         Male         TX          Structural Analysis Engineer     Outdoors   16.97  mastercard
1            2     Russell         Male         MI                    Speech Pathologist      Grocery  143.39  mastercard
2            3      Kimble         Male         AL                   Account Coordinator        Music   37.64  mastercard
3            4    Barnabas         Male         IL                       General Manager      Jewelry    8.51  mastercard
4            5      Tanney       Female         MN                          VP Marketing     Outdoors   61.95  mastercard
5            5      Tanney       Female         MN                          VP Marketing      Grocery   28.42  mastercard
6            6      Launce         Male         VA               Automation Specialist I     Outdoors   15.96  mastercard
7            7       Adham         Male         CO                       Project Manager       Beauty  149.02  mastercard
8            8       Dante         Male         TX                   Geological Engineer        Games   97.38  mastercard
9            9          Hi       Female         PA                Senior Cost Accountant     Outdoors  139.96  mastercard
10          10     Carmine       Female         CA                       Statistician II        Shoes   55.45  mastercard
11          11      Waring       Female         NC                   Software Consultant      Jewelry   96.16  mastercard
12          12        Cori       Female         CA                Senior Sales Associate    Computers  104.93  mastercard
13          13       Rodge  Genderfluid         TX                      Health Coach III         Baby   92.52  mastercard
14          14     Nikolos         Male         TX                         Geologist III      Grocery  108.42  mastercard
15          15         Guy       Female         DC                Senior Cost Accountant        Shoes  144.17  mastercard
16          16       Anton         Male         TX                      Media Manager II    Computers    5.45  mastercard
17          17      Willem       Female         VA                      Media Manager II       Sports    5.12  mastercard
18          17      Willem       Female         VA                      Media Manager II   Industrial   27.87  mastercard
19          18     Timothy       Female         OH                     Marketing Manager        Games   29.30  mastercard
20          18     Timothy       Female         OH                     Marketing Manager   Automotive  116.19  mastercard
21          19    Sheridan         Male         MD                     Assistant Manager         Toys    9.34  mastercard
22          19    Sheridan         Male         MD                     Assistant Manager    Computers    3.72  mastercard
23          20       Kalil  Genderfluid         LA                         Senior Editor        Music   94.53  mastercard
24          20       Kalil  Genderfluid         LA                         Senior Editor         Kids   36.02  mastercard
25          21     Augusto       Female         LA                        Research Nurse    Computers   16.72  mastercard
26          21     Augusto       Female         LA                        Research Nurse     Outdoors   31.34  mastercard
27          22      Duffie       Female         LA           Information Systems Manager        Tools   32.56  mastercard
28          22      Duffie       Female         LA           Information Systems Manager         Home   72.98  mastercard
29          23       Clyde       Female         FL                      Dental Hygienist       Beauty    6.84  mastercard
30          23       Clyde       Female         FL                      Dental Hygienist       Sports   72.91  mastercard
31          24    Harcourt       Female         GA                      Web Designer III      Grocery   10.44  mastercard
32          24    Harcourt       Female         GA                      Web Designer III       Beauty   76.30  mastercard
33          25       Elwyn         Male         LA                      Senior Developer     Clothing   85.65  mastercard
34          25       Elwyn         Male         LA                      Senior Developer        Music   97.94  mastercard
35          26     Desmund       Female         LA                Senior Sales Associate   Industrial  133.30  mastercard
36          26     Desmund       Female         LA                Senior Sales Associate        Music   77.58  mastercard
37          27      Emelen         Male         TX                       Project Manager         Baby   69.98  mastercard
38          27      Emelen         Male         TX                       Project Manager         Baby  129.78  mastercard
39          28    Mattheus       Female         MI                            Pharmacist      Jewelry   48.58  mastercard
40          28    Mattheus       Female         MI                            Pharmacist  Electronics   64.54  mastercard
41          29       Jonas         Male         MI                       Cost Accountant         Home  142.53  mastercard
42          29       Jonas         Male         MI                       Cost Accountant        Tools  108.82  mastercard
43          30      Moishe       Female         OH         Human Resources Assistant III   Industrial   99.03  mastercard
44          30      Moishe       Female         OH         Human Resources Assistant III       Health   51.88  mastercard
45          31    Reinwald         Male         NE                  Sales Representative         Toys   87.62  mastercard
46          31    Reinwald         Male         NE                  Sales Representative         Toys   68.69  mastercard
47          32       Tobin         Male         CA                          Food Chemist         Home  141.11  mastercard
48          32       Tobin         Male         CA                          Food Chemist         Kids   68.66  mastercard
49          33          Bo         Male         FL                 VP Product Management        Books   68.77  mastercard
50          33          Bo         Male         FL                 VP Product Management   Industrial   80.97  mastercard
51          34       Sherm         Male         WA              Senior Financial Analyst         Home   15.12  mastercard
52          34       Sherm         Male         WA              Senior Financial Analyst   Industrial   24.80  mastercard
53          35        Mile         Male         VA                Occupational Therapist       Movies   96.45  mastercard
54          35        Mile         Male         VA                Occupational Therapist       Movies   67.89  mastercard
55          36      Turner         Male         TX              Automation Specialist IV       Health  123.38  mastercard
56          36      Turner         Male         TX              Automation Specialist IV   Industrial   55.46  mastercard
57          37      Cornie  Genderqueer         ND                                Editor  Electronics   72.93  mastercard
58          37      Cornie  Genderqueer         ND                                Editor         Home   58.77  mastercard
59          37      Cornie  Genderqueer         ND                                Editor         Home   36.27  mastercard
60          38         Rab         Male         PA                     Assistant Manager      Jewelry  121.89  mastercard
61          38         Rab         Male         PA                     Assistant Manager     Clothing  117.56  mastercard
62          38         Rab         Male         PA                     Assistant Manager     Clothing   83.07  mastercard
63          39       Codie       Female         MA                     Financial Analyst         Baby   64.30  mastercard
64          39       Codie       Female         MA                     Financial Analyst     Clothing  134.15  mastercard
65          39       Codie       Female         MA                     Financial Analyst         Home  112.25  mastercard
66          40       Scott       Female         OR                        Civil Engineer     Outdoors    9.48  mastercard
67          40       Scott       Female         OR                        Civil Engineer      Jewelry   53.63  mastercard
68          40       Scott       Female         OR                        Civil Engineer       Sports  139.00  mastercard
69          41      Hilary         Male         MS                       Design Engineer        Books   82.78  mastercard
70          41      Hilary         Male         MS                       Design Engineer       Beauty   85.16  mastercard
71          42        Keir       Female         CA                         Senior Editor       Movies  132.11  mastercard
72          42        Keir       Female         CA                         Senior Editor   Automotive   84.32  mastercard
73          43    Raffarty         Male         TX                       General Manager    Computers   59.74  mastercard
74          43    Raffarty         Male         TX                       General Manager        Shoes   35.57  mastercard
75          44    Federico   Non-binary         CA                    Nurse Practicioner   Automotive  105.26  mastercard
76          44    Federico   Non-binary         CA                    Nurse Practicioner         Home   29.00  mastercard
77          45      Karlan       Female         FL                     Financial Advisor        Shoes   53.56  mastercard
78          45      Karlan       Female         FL                     Financial Advisor   Automotive    4.34  mastercard
79          46    Demetris       Female         PA                 Programmer Analyst IV        Tools  136.53  mastercard
80          46    Demetris       Female         PA                 Programmer Analyst IV       Garden  132.73  mastercard
81          47       Lisle       Female         AZ                        Web Designer I   Industrial  106.66  mastercard
82          47       Lisle       Female         AZ                        Web Designer I         Home   78.99  mastercard
83          48        Rabi  Genderfluid         MS                     Director of Sales       Health   93.46  mastercard
84          48        Rabi  Genderfluid         MS                     Director of Sales      Grocery   51.27  mastercard
85          49       Jareb         Male         NY                       Sales Associate        Books  147.63  mastercard
86          49       Jareb         Male         NY                       Sales Associate       Sports   18.23  mastercard
87          50     Sergent         Male         NV                          Geologist II         Kids  145.58  mastercard
88          50     Sergent         Male         NV                          Geologist II      Jewelry  128.95  mastercard
89          51    Reinaldo       Female         NY                                Editor        Shoes   81.44  mastercard
90          51    Reinaldo       Female         NY                                Editor       Garden   53.74  mastercard
91          52    Zebadiah       Female         OR            Desktop Support Technician       Health   64.70  mastercard
92          52    Zebadiah       Female         OR            Desktop Support Technician    Computers   66.40  mastercard
93          53    Shurlock   Polygender         DC                      Junior Executive       Beauty   60.66  mastercard
94          53    Shurlock   Polygender         DC                      Junior Executive        Games   17.67  mastercard
95          54        Chip      Agender         WV                    Recruiting Manager   Industrial    9.11  mastercard
96          54        Chip      Agender         WV                    Recruiting Manager   Industrial   13.38  mastercard
97          55      Alford       Female         TX           Human Resources Assistant I   Industrial  100.62  mastercard
98          55      Alford       Female         TX           Human Resources Assistant I         Baby   41.92  mastercard
99          56      Marius         Male         MO                Senior Cost Accountant        Books  132.40  mastercard
100         56      Marius         Male         MO                Senior Cost Accountant         Home   40.89  mastercard
101         57   Marmaduke   Non-binary         MA                       Sales Associate         Kids   60.75  mastercard
102         57   Marmaduke   Non-binary         MA                       Sales Associate    Computers  113.68  mastercard
103         58       Emlyn       Female         NV  Business Systems Development Analyst         Toys   10.73  mastercard
104         58       Emlyn       Female         NV  Business Systems Development Analyst        Music   57.67  mastercard
105         59   Frederich       Female         NY                       Health Coach II        Music   90.98  mastercard
106         59   Frederich       Female         NY                       Health Coach II        Tools  114.58  mastercard
107         60     Davidde         Male         CA                          VP Marketing       Movies   95.97  mastercard
108         60     Davidde         Male         CA                          VP Marketing       Garden   41.34  mastercard
109         61       Angus       Female         CA                Senior Sales Associate         Kids   54.04  mastercard
110         61       Angus       Female         CA                Senior Sales Associate        Games    7.24  mastercard
111         62    Cchaddie         Male         CA  Business Systems Development Analyst      Grocery   97.00  mastercard
112         62    Cchaddie         Male         CA  Business Systems Development Analyst      Grocery  119.74  mastercard
113         63        Fons       Female         AR                      Senior Developer       Beauty   45.49  mastercard
114         63        Fons       Female         AR                      Senior Developer       Garden    9.11  mastercard
115         64       Lucio       Female         SD                      Web Developer IV       Health   99.37  mastercard
116         64       Lucio       Female         SD                      Web Developer IV      Jewelry  142.25  mastercard
117         65        Wolf         Male         CA                    Recruiting Manager        Games   26.75  mastercard
118         65        Wolf         Male         CA                    Recruiting Manager      Grocery   78.53  mastercard
119         66      Lazare         Male         LA                   Associate Professor        Shoes   85.94  mastercard
120         66      Lazare         Male         LA                   Associate Professor        Music   63.78  mastercard
121         67   Cornelius         Male         KY                    Recruiting Manager      Jewelry   17.25  mastercard
122         67   Cornelius         Male         KY                    Recruiting Manager      Grocery  108.03  mastercard
123         68      Matteo     Bigender         OR                         Social Worker        Games   49.82  mastercard
124         68      Matteo     Bigender         OR                         Social Worker       Beauty   69.20  mastercard
125         69     Domingo       Female         CA                             Recruiter         Toys   88.43  mastercard
126         69     Domingo       Female         CA                             Recruiter     Outdoors  115.34  mastercard
127         70      Bordie         Male         PA                       Sales Associate        Tools   23.53  mastercard
128         70      Bordie         Male         PA                       Sales Associate         Baby   22.68  mastercard
129         71        Neil       Female         CA                          Geologist IV         Kids   55.81  mastercard
130         71        Neil       Female         CA                          Geologist IV        Music  125.82  mastercard
131         72    Allistir       Female         TX                 Chief Design Engineer    Computers   96.65  mastercard
132         72    Allistir       Female         TX                 Chief Design Engineer      Jewelry   41.30  mastercard
133         73        Rafe  Genderfluid         DC                         Senior Editor     Outdoors   64.76  mastercard
134         73        Rafe  Genderfluid         DC                         Senior Editor       Health   34.88  mastercard
135         74      Galvan         Male         NE                               Teacher        Shoes   61.25  mastercard
136         74      Galvan         Male         NE                               Teacher      Jewelry   11.45  mastercard
137         75    Dionysus       Female         LA                       Legal Assistant       Movies  141.32  mastercard
138         75    Dionysus       Female         LA                       Legal Assistant       Beauty   91.49  mastercard
139         76        Raul         Male         TX                    Speech Pathologist        Shoes   98.09  mastercard
140         76        Raul         Male         TX                    Speech Pathologist       Health   19.59  mastercard
141         77       Codie       Female         CT                       Media Manager I         Home   95.54  mastercard
142         77       Codie       Female         CT                       Media Manager I       Garden   94.58  mastercard
143         78        Zeke       Female         DC                    Research Associate       Health   53.12  mastercard
144         78        Zeke       Female         DC                    Research Associate    Computers  140.90  mastercard
145         79   Siegfried       Female         FL                 VP Product Management    Computers   64.61  mastercard
146         79   Siegfried       Female         FL                 VP Product Management     Clothing   32.87  mastercard
147         85      Kennan       Female         DC                       Project Manager         Kids  139.38  mastercard
148         86     Gilburt       Female         FL         Community Outreach Specialist        Shoes  123.66  mastercard
149         87     Ruttger         Male         ID                 Chief Design Engineer        Books   66.68  mastercard
150         88   Fransisco       Female         CA                       Design Engineer        Tools   23.51  mastercard
151         89       Reade       Female         TX                       General Manager         Baby   81.13  mastercard
152         90      Weylin         Male         FL                            Engineer I     Clothing   66.53  mastercard
153         91     Riobard         Male         FL                      Technical Writer        Music   86.24  mastercard
154         92     Ambrosi         Male         IN                    Analyst Programmer   Industrial   45.48  mastercard
155         93      Norris  Genderqueer         VA  Business Systems Development Analyst     Outdoors   79.53  mastercard
156         94      Lorens       Female         CA                   Staff Accountant IV       Health   92.86  mastercard
157         95       Denis       Female         IL                 VP Product Management  Electronics  125.29  mastercard
158         96       Rhett       Female         OH                    Biostatistician IV         Baby   18.69  mastercard
159         97      Hamlin         Male         AL                       Media Manager I       Movies  136.95  mastercard
160         98   Sebastien         Male         PA                     Media Manager III        Games  114.69  mastercard
161         99       Dewey       Female         CA                   Executive Secretary     Clothing  104.06  mastercard

- O Inner Join será utilizado para a construção do dashboard, pois o foco principal do mesmo é observar as transações válidas, ou seja, os registros completos das transações dos clientes baseados nas demais métricas, como gênero e estado. Caso Left, Right ou Full Join fossem utilizados, as colunas com valores vazios teriam certo impacto nos resultados do dashboard como o valor médio gasto pelos clientes por estado.

Exportando o arquivo como CSV:

In [ ]:
result_df.to_csv('dados_ecommerce_final.csv', index=False)

Link para visualização de Dashboard no Looker Studio:
https://lookerstudio.google.com/reporting/57037706-0678-4636-9033-2f2ecc8713ee

**Dicas para o projeto:**
- Se atente que, como o mesmo cliente realiza mais de 1 transação quando você for trazer alguma métrica relacionada a dados do cliente terá que utilizar o distinct para criar essas métricas no dashboard, se não acabará tendo os dados repetidos.

- Análise sua tabela, entenda a dimensão dos dados, no excel, antes de enviar para o Powerbi ou Looker Studio.

- Tente montar preveamente um roteiro de quais métricas e visualizações irá colocar no dashboard, isso tornará seu processo mais rápido.

- Qualquer dificuldade para subir sua base para as ferramentas de visualização envie a base e o erro encontrado para que os tutores possam te ajudar.